{% extends 'base.html.twig' %}

{% block title %}Paiement non validé{% endblock %}

{% block body %}
<h1>Paiement non validé</h1>
<p> Un problème est survenu et votre paiement n'a pas pu être effectué.
    Veuillez réessayer ou bien contactez le support.
</p>
{% endblock %}
