{% extends 'base.html.twig' %}

{% block title %}Paiement validé{% endblock %}

{% block body %}
<h1>Paiement validé</h1>
<p> Félicitations! Votre paiement a été effectué avec succès.
</p>
{% endblock %}
